<!DOCTYPE HTML>
<html>
    <head>
        <title>Курсы разработки и проектирования интерфейсов</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/pages/_index.css">
    </head>
    <body>
        <div class="b-layout b-layout_type_top">
            <div class="b-layout__head">
                <ul class="b-menu b-menu_type_horizontal">
                {{head_menu}}
                </ul>
                <div class="b-title">
                    <h1 class="b-title__title">Курсы разработки и проектирования интерфейсов</h1>
                </div>
            </div>
            <hr class="b-layout__separator">
            <div class="b-layout__body">
                <div class="b-content">
                    <div class="b-content__side-menu">
                        <ul class="b-menu b-menu_type_vertical">
                        {{side_menu}}
                        </ul>
                    </div>

                    <div class="b-content__text">
                        {{content}}
                    </div>
                    <div class="b-content__fix"></div>
                </div>
            </div>
        </div>
        <div class="b-layout b-layout_type_bottom">
            <div class="b-layout__foot">
                <div class="b-footer">
                    <div class="b-footer__legal">
                        <p>
                            Контакты: <a href="mailto:mail@cripi.ru">mail@cripi.ru</a>
                        </p>
                        <p>&copy; 2012</p>
                    </div>
                    <div class="b-footer__logos">
                        <ul>
                            <li>
                                <a href="http://www.skbkontur.ru/" target="_blank"><img src="/images/skb-gray.png" alt="СКБ Контур"></a>
                            </li>
                            <li>
                                <a href="http://yandex.ru/" target="_blank"><img src="/images/yandex-small.png" alt="Яндекс"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="b-footer__fix"></div>
                </div>
            </div>
        </div>
    </body>
</html>